{% extends "base.html" %}

{% block OwnLinks %}
  {% load static %}
  <link href="{% static "/css/questions.css" %}" rel="stylesheet">
{% endblock %}

{% block Userfoto %}
  <div class="row col-md-3" style="color: white;">
    <div class="col-sm-9">
      <div class="row">
        <div class="col-8 col-sm-6">
          <a href="/questions/login/">log in</a>
        </div>
        <div class="col-4 col-sm-6">
          <a href="/questions/registration/">register</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block NamePage %}
  <div class="Top_Post">
    <div class="pb-3 mb-4 font-italic border-bottom row">
        <div class="blog-post row ">
          <div class="avatarka_in_post col-md-4 ">
            {% load static %}
            <a href="#"><img src="{% static "/img/Empty2.jpg" %}" width="140" height="140"></a><br>
            <select name="likes" class="likes">
                                <option selected="">5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
            </select>
          </div>
          <div class="Context_Post col-md-8">
            <h2 class="blog-post-title">How to built a moon park?</h2>
            <p>Guys, I have trouble with moon park! Can't find the black-jake!...</p>
            <div class="blog-post-meta row Post_title_bottom_up">
                <p>Tags: <a href="#">black-jack</a> <a href="#">bender</a></p>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block BottomOnePost %}
  <div class="blog-post-meta row Post_title_bottom">
    <form>
      <input type="checkbox" name="corect"> <span class="Post_title_bottom">Correct!</span>
    </form>
  </div>
{% endblock %}

{% block PostEnd %}
  <form >
    <textarea class="form-control" name="text" rows="3" value="text" placeholder="Enter your answer hear.."></textarea><br>
    <button class="btn btn-primary btn-lg" type="submit">Ask!</button>
  </form>
{% endblock %}

{% block listing %} {% endblock %}