{% extends "questions.html" %}

{% block OwnLinks %}
    {% load static %}
    <link href="{% static "/css/registration.css" %}" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/bender.css" %}">
{% endblock %}

{% block NamePage %}
  <div class="mb-3 font-italic row">
        <h3 class="mb-3 col-4">Log In</h3>
  </div>
{% endblock %}

{% block PostEnd %}
{% endblock %}

{% block BottomOnePost %}
{% endblock %}  

{% block userPost %}
  <form class="needs-validation" novalidate="">
    <p class="Error">
      Sorry, wrong password!!!
    </p>
    <div class="mb-3">
      <label for="login">Login</label>
      <input type="title" class="form-control" id="login" value="Enter your login here">
    </div>
    <div class="form-group">
     <label for="email">Email</label>
     <input type="email" class="form-control" name="email" rows="3" value="dr.pepper@yandex.ru"></input>
    </div>
    <div class="mb-3">
      <label for="nick">Nick Name</label>
      <input type="text" class="form-control" id="nick" required="" value="Dr. Pepper">
    </div>
    <div class="mb-3">
      <label for="password">Password</label>
      <input type="text" class="form-control" id="password" required="" value="*********">
    </div>
    <div class="mb-3">
      <label for="password">Repeat password</label>
      <input type="text" class="form-control" id="password" required="" value="*********">
    </div>
    <div class="md-3">
      <label for="avatar">Upload avatar</label>
      <input type="file" class="form-control AvatarInput" id="avatar" required="" name="avatar">
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Registrate</button>
  </form>
{% endblock %} 